version: 2
updates:
  - package-ecosystem: github-actions
    directories:
      - /
      - /.github/actions/*/
    schedule:
      interval: daily
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: daily
    versioning-strategy: increase
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: daily
