default_install_hook_types:
  - commit-msg
  - pre-commit
default_stages:
  - pre-commit
minimum_pre_commit_version: 4.2.0
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: fa1ed65ba95bfa7771a71003a9d74402541f5a5c  # frozen: v0.14.6
    hooks:
      - id: ruff-check
        args:
          - --exit-non-zero-on-fix
          - --fix
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 88cb1bdc3f975bf753e85082b4784f6119fd3b15  # frozen: 0.9.11
    hooks:
      - id: uv-lock
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
      - id: codespell
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: 0b4ac197f67f6ed75e27a10fad70ddc8014cb2e2  # frozen: v0.9.33
    hooks:
      - id: pymarkdown
        args:
          - fix
        name: pymarkdown fix
      - id: pymarkdown
        args:
          - scan
        name: pymarkdown scan
  - repo: https://github.com/jorisroovers/gitlint
    rev: acc9d9de6369b76d22cb4167029d2035e8730b98  # frozen: v0.19.1
    hooks:
      - id: gitlint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: forbid-submodules
      - id: mixed-line-ending
      - id: name-tests-test
        args:
          - --pytest-test-first
      - id: pretty-format-json
      - id: trailing-whitespace
  - repo: https://github.com/rhysd/actionlint
    rev: a443f344ff32813837fa49f7aa6cbc478d770e62  # frozen: v1.7.9
    hooks:
      - id: actionlint
