[build-system]
build-backend = "flit_core.buildapi"
requires = ["flit_core>=3.2,<4"]

[dependency-groups]
dev = [
    "mypy>=1.15.0",
    "pytest>=8.3.4",
    "ruff>=0.9.7",
]

[project]
dependencies = [
    "typing-extensions>=4.12.2 ; python_full_version < '3.11'",
]
description = "Add your description here"
name = "trcks"
readme = "README.md"
requires-python = ">=3.9"
version = "0.1.0"

[tool.mypy]
disallow_any_decorated = true
disallow_any_explicit = true
disallow_any_unimported = true
files = "."
strict = true
strict_bytes = true  # will become the default in mypy 2.0
warn_incomplete_stub = true
warn_unreachable = true

[tool.ruff.lint]
ignore = ["COM812", "D", "ISC001"]
select = ["ALL"]
